{% extends "base.html" %}

{% block title %}Booked Locums{% endblock %}

{% block content %}
<div class="locum-list-container">
    <h2>Booked Locums</h2>

    {% if locums %}
        <div class="locum-list">
            {% for locum in locums %}
                <div class="locum-item">
                    <h3>{{ locum.job_title }}</h3>
                    <p><strong><span class="bold-color">Requirements:</span></strong> {{ locum.requirements }}</p>
                    <p><strong><span class="bold-color">Job Description:</span></strong> {{ locum.job_description }}</p>
                    <p><strong><span class="bold-color"><i class="bi bi-geo-alt-fill"></i>Location:</span></strong> {{ locum.location }}</p>
                    <p><strong><span class="bold-color"><i class="bi bi-currency-dollar"></i>Hourly Rate:</span></strong> KES {{ locum.hourly_rate }}</p>
                    <p><strong><span class="bold-color">Start Time:</span></strong> {{ locum.start_time.strftime('%Y-%m-%d %H:%M') }}</p>
                    <p><strong><span class="bold-color">End Time:</span></strong> {{ locum.end_time.strftime('%Y-%m-%d %H:%M') }}</p>

                    <p><strong>Status:</strong>
                        {% if locum.status == 'booked' %}
                            <span class="status-booked">{{ locum.status.capitalize() }}</span>
                        {% elif locum.status == 'settled' %}
                            <span class="status-settled">{{ locum.status }}</span>
                        {% else %}
                            <span class="status-other">{{ locum.status }}</span>
                        {% endif %}
                    </p>

                    <p><strong><span class="bold-color">Created By:</span> {{ locum.poster.name }}</strong></p>
                    {% if locum.user_id == session['user_id'] and locum.status == 'booked' %}
                    <form action="{{ url_for('main.mark_settled', locum_id=locum.id) }}" method="POST">
                        <button type="submit" class="mark-settled-btn">Mark as Settled</button>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No booked locums found.</p>
    {% endif %}
</div>
{% endblock %}
